    <configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="myAppender" class="LoggerAppenderFile">
    <param name="file" value="/home/ericm/public_html/logger/myLog.log" />
<layout class="LoggerLayoutPattern">
<param name="conversionPattern" value="%date %logger %-5level %msg%n" />
</layout>
    </appender>
    <root>
    <level value="INFO" />
    <appender_ref ref="myAppender" />
    </root>
    </configuration>